body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Quicksand', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
	font-family: Quicksand;
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
	color: #b266ff;
}
a.selected:link {
	color: #b266ff;
}
h2 {
	color: #8b1aff;
	font-size: 2.5em;
	font-family: Quicksand;
	font-weight: 600;
}
h3 {
	color: #8b1aff;
	font-size: 2em;
	font-family: Quicksand;
	font-weight: 500;
}
p {
	font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
	color: #333;
}
footer {
    border-top: 2px solid #bf80ff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.summary{
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	color: #606060;
	font-size: 1.3em;
}
.summary a{
	color: #8b1aff;
}

.summary a:hover{
	color: #b266ff;
}
	
#wrench{
	height: 8em;
	width: 8em;
	margin-bottom: 4em;
	
}
ul.experience {
	
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	color: #606060;
	font-size: 1.3em;
}
.experience li:before {
	content: "\003E";
	margin-right: 1em;
	margin-left: 0em;
}
