body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Open Sans Condensed', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
	color: #8b1aff
	font-family: Oswald;
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
	color: #b266ff;
}
h2 {
	color: #8b1aff;
	font-size: 2.5em;
	font-family: Oswald;
	font-weight: 400;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.summary{
	list-style: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #7c8082;
	font-size: 1em;
	
}